@{
    ViewBag.Title = "欢迎使用DBNote";
    //    ViewBag.MenuJson = @"{'menus': [{
    //                'menuid': '1',
    //                'icon': 'icon-sys',
    //                'menuname': 'DB Server',
    //                'menus': [{
    //                    'menuid': '12',
    //                    'menuname': 'FreshMan',
    //                    'icon': 'icon-add',
    //                    'url': 'http://www.baidu.com'
    //                }, {
    //                    'menuid': '13',
    //                    'menuname': '拖放',
    //                    'icon': 'icon-users',
    //                    'url': 'draggable.html'
    //                }, {
    //                    'menuid': '14',
    //                    'menuname': '角色管理',
    //                    'icon': 'icon-role',
    //                    'url': 'demo2.html'
    //                }, {
    //                    'menuid': '15',
    //                    'menuname': '权限设置',
    //                    'icon': 'icon-set',
    //                    'url': 'demo.html'
    //                }, {
    //                    'menuid': '16',
    //                    'menuname': '系统日志',
    //                    'icon': 'icon-log',
    //                    'url': 'demo1.html'
    //                }]
    //}]
    //}";
}

<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; ">
    欢迎使用DBNote
</div>