@using System.Security.Policy
@{
    ViewBag.Title = "欢迎使用DBNote";
}

<div title="欢迎使用">
    <table id="tableShowData" class="querytable"></table>
    <!--添加修改内容-->
    <div id="newConfigWindow" class="easyui-window" title="修改/新建连接" collapsible="false" minimizable="false" maximizable="false" icon="icon-edit" style="width: 450px; height: 200px; padding: 5px;
        background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table cellpadding=3>
                    <tr>
                        <td>数据库类型：</td>
                        <td><input id="DbType" name="DbType" type="text" class="txt01 width-300" /></td>
                    </tr>
                    <tr>
                        <td>连接名称：</td>
                        <td><input id="LinkName" name="LinkName" type="text" class="txt01 width-300" /></td>
                    </tr>
                    <tr>
                        <td>连接地址：</td>
                        <td><input id="LinkConnectionString" name="LinkConnectionString" type="text" class="txt01 width-300" /></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <a class="easyui-linkbutton" icon="icon-ok" href="javascript:serverInfo();">
                    确定
                </a> <a class="easyui-linkbutton" icon="icon-cancel" href="javascript:closePwd();">取消</a>
            </div>
            <input id="configId" value="0" name="Id" type="hidden" />
        </div>
    </div>

</div>
@section scripts{
    <script src="../../js/ConfigInfo.js"></script>
}